:root {
  --c-gold: #d4af37;
  --i-diamond: url("data:image/svg+xml,%3Csvg viewBox='0 0 9.899 9.899' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m-397.55-23.776 5.774 5.774 5.774-5.774-5.774-5.774-5.774 5.774Zm441.547 0-5.773-5.774-5.773 5.774 5.773 5.774 5.773-5.774ZM4.95 0 9.9 4.95 4.95 9.9 0 4.95Zm-396.726-22.776h430v-2h-430v2Z' fill='%23D4AF37' fill-rule='nonzero'/%3E%3C/svg%3E");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'ProtoMono-Regular', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  color: #d4af37;
}

h1 {
  /*   TODO: make relative */
  margin: 0 12px;
  display: flex;
  align-content: center;
}

h1 span {
  font-size: clamp(48px, 26vw, 200px);
}

p + p {
  margin-top: 24px;
}

h1 svg {
  width: 100vw;
  margin: 24px 0;
}

h2 time {
  color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 419 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.793 17.52v8.32c0 1.24-.96 2.16-2.2 2.16-1.24 0-2.2-.92-2.2-2.16V2.2c0-1.24.96-2.2 2.2-2.2h13.76c1.24 0 2.12.96 2.12 2.2 0 1.24-.88 2.2-2.12 2.2h-10.2c-.76 0-1.36.6-1.36 1.36v4.72c0 .76.6 1.4 1.36 1.4h7.56c1.24 0 2.12.88 2.12 2.12 0 1.16-.88 2.12-2.12 2.12h-7.56c-.76 0-1.36.64-1.36 1.4Zm29.706-.4h-4.8c-.76 0-1.32.6-1.32 1.36v7.44c0 1.24-.96 2.16-2.2 2.16-1.24 0-2.2-.92-2.2-2.16V2.2c0-1.24.96-2.2 2.2-2.2h9.64c.56 0 1.08.24 1.52.68l4.12 4.12c.4.4.6.92.6 1.52v4.48c0 .6-.2 1.08-.64 1.52l-1.6 1.6c-.28.28-.4.6-.4.96s.16.76.44 1.04l1.6 1.56c.44.44.6.92.6 1.52v6.92c0 1.24-.92 2.16-2.16 2.16-1.24 0-2.24-.92-2.24-2.16v-5.6c0-.2-.08-.52-.24-.68l-2.24-2.24c-.2-.2-.4-.28-.68-.28Zm.68-4.68 2.24-2.2c.16-.16.24-.44.24-.72V7.6c0-.28-.08-.56-.24-.72l-2.24-2.2c-.2-.2-.4-.28-.68-.28h-4.8c-.76 0-1.32.6-1.32 1.36v5.6c0 .76.56 1.36 1.32 1.36h4.8c.28 0 .48-.08.68-.28ZM61.805 28h-10.36c-1.24 0-2.16-.92-2.16-2.16 0-1.24.92-2.16 2.16-2.16h1.6c.76 0 1.36-.6 1.36-1.36V5.68c0-.76-.6-1.36-1.36-1.36h-1.6c-1.24 0-2.16-.92-2.16-2.16 0-1.24.92-2.16 2.16-2.16h10.36c1.24 0 2.12.92 2.12 2.16 0 1.24-.88 2.16-2.12 2.16h-1.64c-.76 0-1.36.6-1.36 1.36v16.64c0 .76.6 1.36 1.36 1.36h1.64c1.24 0 2.12.92 2.12 2.16 0 1.24-.88 2.16-2.12 2.16Zm39.732-5.68V7.96c0-.2-.04-.32-.16-.32-.04 0-.12.04-.24.16l-1 1.04c-.4.4-.92.6-1.52.6-1.24 0-2.12-.88-2.12-2.12 0-.6.2-1.12.64-1.56l5.04-5.12c.44-.44.96-.64 1.6-.64 1.24 0 2.16.92 2.16 2.16v20.16c0 .76.6 1.36 1.36 1.36h1.64c1.24 0 2.12.92 2.12 2.16 0 1.24-.88 2.16-2.12 2.16h-10.32c-1.24 0-2.12-.92-2.12-2.16 0-1.24.88-2.16 2.12-2.16h1.6c.76 0 1.32-.6 1.32-1.36ZM123.123.68h-.04c.4-.44.92-.68 1.52-.68h5.56c.56 0 1.04.2 1.48.64l4.12 4.16c.44.44.64.92.64 1.52v15.36c0 .64-.2 1.12-.64 1.56l-4.12 4.12c-.44.44-.92.64-1.48.64h-5.56c-.6 0-1.08-.24-1.48-.68l-4.16-4.12c-.44-.44-.64-.92-.64-1.52V6.32c0-.6.2-1.08.64-1.52l4.16-4.12Zm8.36 6.04v-.04c0-.04-.04-.12-.08-.16l-1.88-1.84c-.2-.2-.4-.28-.68-.28h-2.92c-.28 0-.52.08-.72.28l-2.2 2.2c-.2.2-.28.44-.28.72v7.36c0 .2.04.32.16.32.08 0 .16-.04.28-.16l8.24-8.24c.04-.04.08-.12.08-.16Zm-8.12 14.76 1.84 1.84c.2.2.44.28.72.28h2.92c.28 0 .48-.08.68-.28l2.24-2.2c.16-.2.24-.44.24-.72v-7.32c0-.2-.04-.32-.16-.32-.08 0-.16.04-.28.16l-8.2 8.2c-.04.04-.08.12-.08.2 0 .04.04.12.08.16Zm46.291-20.4 9.24 16.16c.08.12.16.2.2.2.04 0 .08-.08.08-.28v-15c0-1.24 1-2.16 2.24-2.16 1.24 0 2.16.92 2.16 2.16v23.68c0 1.24-.92 2.16-2.16 2.16-.84 0-1.52-.44-1.96-1.08l-9.28-16.28c-.04-.12-.12-.2-.2-.2-.04 0-.08.08-.08.28v15.12c0 1.24-.96 2.16-2.2 2.16-1.24 0-2.2-.92-2.2-2.16V2.16c0-1.24.96-2.16 2.2-2.16.8 0 1.6.44 1.96 1.08ZM203.2.68l3.36 3.28c.44.44.6 1.04.6 1.52v17.04c0 .48-.16 1.08-.6 1.52l-3.36 3.28c-.4.44-.92.68-1.56.68h-7.04c-.6 0-1.16-.24-1.52-.68l-3.36-3.28c-.44-.44-.64-1.04-.64-1.52V5.48c0-.48.2-1.08.64-1.52l3.36-3.28c.36-.44.92-.68 1.52-.68h7.04c.64 0 1.16.24 1.56.68Zm-2.08 22.64 1.4-1.44c.16-.2.24-.44.24-.68V6.8c0-.24-.08-.48-.24-.68l-1.4-1.44c-.2-.2-.44-.28-.72-.28h-4.52c-.28 0-.52.08-.72.28l-1.4 1.44c-.2.2-.28.4-.28.68v14.4c0 .28.08.48.28.68l1.4 1.44c.2.2.44.28.72.28h4.52c.28 0 .52-.08.72-.28Zm25.226-4.96V2.16c0-1.24 1-2.16 2.24-2.16 1.24 0 2.16.92 2.16 2.16v17.52c0 .64-.2 1.16-.64 1.56l-6.2 6.12c-.44.44-.88.64-1.48.64h-1.44c-.56 0-1.04-.2-1.48-.64l-6.16-6.12c-.44-.44-.68-.96-.68-1.56V2.16c0-1.24.96-2.16 2.2-2.16 1.24 0 2.2.92 2.2 2.16v16.2c0 .28.08.48.28.68l3.4 3.52c.24.24.56.36 1 .36.36 0 .68-.12.96-.36l3.4-3.52c.16-.16.24-.4.24-.68ZM264.158 6.8v.44c0 1.24-.92 2.12-2.16 2.12-1.24 0-2.16-.88-2.16-2.12V5.48c0-.48.2-1.08.64-1.52l3.28-3.28c.36-.44.92-.68 1.52-.68h7.24c.6 0 1.12.24 1.52.68l3.28 3.28c.4.48.6 1 .6 1.52v2.4c0 .48-.16 1.04-.6 1.48l-12.88 12.76c-.12.12-.2.28-.2.48 0 .6.68 1 1.28 1h10.28c1.24 0 2.12.96 2.12 2.2 0 1.24-.88 2.2-2.12 2.2h-13.8c-1.24 0-2.16-.96-2.16-2.2v-4.32c0-.56.2-1.04.64-1.44l12.96-12.88c.12-.16.16-.32.16-.48 0-.16-.04-.32-.16-.48l-1.52-1.52c-.2-.2-.44-.28-.72-.28h-4.6c-.28 0-.52.08-.72.28l-1.44 1.44c-.2.2-.28.4-.28.68ZM288.224.68h-.04c.4-.44.92-.68 1.52-.68h5.56c.56 0 1.04.2 1.48.64l4.12 4.16c.44.44.64.92.64 1.52v15.36c0 .64-.2 1.12-.64 1.56l-4.12 4.12c-.44.44-.92.64-1.48.64h-5.56c-.6 0-1.08-.24-1.48-.68l-4.16-4.12c-.44-.44-.64-.92-.64-1.52V6.32c0-.6.2-1.08.64-1.52l4.16-4.12Zm8.36 6.04v-.04c0-.04-.04-.12-.08-.16l-1.88-1.84c-.2-.2-.4-.28-.68-.28h-2.92c-.28 0-.52.08-.72.28l-2.2 2.2c-.2.2-.28.44-.28.72v7.36c0 .2.04.32.16.32.08 0 .16-.04.28-.16l8.24-8.24c.04-.04.08-.12.08-.16Zm-8.12 14.76 1.84 1.84c.2.2.44.28.72.28h2.92c.28 0 .48-.08.68-.28l2.24-2.2c.16-.2.24-.44.24-.72v-7.32c0-.2-.04-.32-.16-.32-.08 0-.16.04-.28.16l-8.2 8.2c-.04.04-.08.12-.08.2 0 .04.04.12.08.16ZM311.33 6.8v.44c0 1.24-.92 2.12-2.16 2.12-1.24 0-2.16-.88-2.16-2.12V5.48c0-.48.2-1.08.64-1.52l3.28-3.28c.36-.44.92-.68 1.52-.68h7.24c.6 0 1.12.24 1.52.68l3.28 3.28c.4.48.6 1 .6 1.52v2.4c0 .48-.16 1.04-.6 1.48l-12.88 12.76c-.12.12-.2.28-.2.48 0 .6.68 1 1.28 1h10.28c1.24 0 2.12.96 2.12 2.2 0 1.24-.88 2.2-2.12 2.2h-13.8c-1.24 0-2.16-.96-2.16-2.2v-4.32c0-.56.2-1.04.64-1.44l12.96-12.88c.12-.16.16-.32.16-.48 0-.16-.04-.32-.16-.48l-1.52-1.52c-.2-.2-.44-.28-.72-.28h-4.6c-.28 0-.52.08-.72.28l-1.44 1.44c-.2.2-.28.4-.28.68Zm23.586-.04v.48c0 1.24-.92 2.12-2.16 2.12-1.24 0-2.16-.88-2.16-2.12V5.48c0-.48.2-1.08.64-1.52l3.28-3.28c.36-.44.92-.68 1.52-.68h7.16c.6 0 1.12.24 1.52.68l3.36 3.28c.44.44.6 1.04.6 1.52v5.24c0 .6-.2 1.12-.6 1.52l-.84.8c-.24.24-.36.56-.36.96 0 .44.12.76.36 1l.84.8c.4.4.6.92.6 1.52v5.2c0 .48-.16 1.08-.6 1.52l-3.36 3.28c-.4.44-.92.68-1.52.68h-7.16c-.6 0-1.16-.24-1.52-.68l-3.28-3.28c-.44-.44-.64-1.04-.64-1.52v-1.76c0-1.24.92-2.08 2.16-2.08 1.24 0 2.16.84 2.16 2.08v.48c0 .24.08.44.28.64l1.44 1.44c.2.2.44.28.72.28h4.52c.28 0 .52-.08.72-.28l1.44-1.44c.16-.2.24-.44.24-.64V18.6c0-.24-.08-.48-.24-.68l-1.44-1.48c-.24-.2-.48-.28-.72-.28h-4.36c-1.24 0-2.16-.92-2.16-2.16 0-1.24.92-2.12 2.16-2.12h4.36c.24 0 .48-.08.72-.28l1.44-1.48c.16-.2.24-.44.24-.68V6.76c0-.2-.08-.44-.24-.64l-1.44-1.44c-.2-.2-.44-.28-.72-.28h-4.52c-.28 0-.52.08-.72.28l-1.44 1.44c-.2.2-.28.4-.28.64Zm47.212 8.44v-2.36c0-.36.16-.76.44-1.04l2.04-2.12c.32-.28.68-.4 1.08-.4h2.32c.44 0 .8.16 1.08.44l2.04 2.08c.28.28.4.68.4 1.04v2.36c0 .36-.08.76-.4 1.04l-2.04 2.04c-.28.28-.64.44-1.08.44h-2.32c-.4 0-.76-.12-1.08-.4l-2.08-2.08c-.28-.32-.4-.68-.4-1.04Z' fill='%23D4AF37' fill-rule='nonzero'/%3E%3C/svg%3E");
  display: block;
  background-repeat-x: repeat;
  width: 100%;
  height: 28px;
  background-repeat-y: no-repeat;
  background-position-x: 5vw;
}

h2 {
  margin: 48px 0;
  font-size: clamp(32px, 6.5vw, 72px);
}

html {
  min-height: 100%;
  font-size: 24px;
  font-size: clamp(20px, 3vw, 24px);
  background: #000;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 180px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 194 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.287 72.057v23.771l33.428-11.886v36.4l29.715-11.885v-36.4L96.858 60.17V36.4L63.43 48.286V35.657l33.428-11.886V0L33.715 23.771v36.4L.288 72.057Zm130-23.77L96.858 36.4v23.77l33.429 11.887v36.399l29.714 11.886v-36.4l33.428 11.886V72.058l-33.428-11.886V47.543l33.428 11.886V35.658l-63.142-23.772v36.4Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.287 72.057v23.771l33.428-11.886v36.4l29.715-11.885v-36.4L96.858 60.17V36.4L63.43 48.286V35.657l33.428-11.886V0L33.715 23.771v36.4L.288 72.057Zm130-23.77L96.858 36.4v23.77l33.429 11.887v36.399l29.714 11.886v-36.4l33.428 11.886V72.058l-33.428-11.886V47.543l33.428 11.886V35.658l-63.142-23.772v36.4Z' fill='%23000'/%3E%3Cpath d='M.287 95.828h-4v5.668l5.34-1.899-1.34-3.769Zm0-23.771-1.34-3.77-2.66.947v2.823h4Zm33.428 11.885h4v-5.667l-5.34 1.899 1.34 3.768Zm0 36.4h-4v5.908l5.486-2.194-1.486-3.714Zm29.715-11.885 1.485 3.714 2.515-1.006v-2.708h-4Zm0-36.4-1.34-3.77-2.66.947v2.823h4ZM96.858 60.17l1.34 3.769 2.66-.946v-2.823h-4Zm0-23.771h4v-5.668l-5.34 1.899 1.34 3.769ZM63.43 48.286h-4v5.667l5.34-1.899-1.34-3.769Zm0-12.629-1.34-3.769-2.66.946v2.823h4Zm33.428-11.886 1.34 3.77 2.66-.947v-2.823h-4Zm0-23.771h4v-5.78l-5.41 2.037L96.859 0ZM33.715 23.771l-1.409-3.743-2.59.975v2.768h4Zm0 36.4 1.34 3.769 2.66-.946v-2.823h-4Zm63.143-23.77 1.34-3.77-5.34-1.898v5.668h4Zm33.429 11.885-1.34 3.77 5.34 1.898v-5.668h-4ZM96.858 60.172h-4v2.823l2.66.946 1.34-3.77Zm33.429 11.886h4v-2.824l-2.66-.945-1.34 3.769Zm0 36.399h-4v2.708l2.514 1.006 1.486-3.714Zm29.714 11.886-1.486 3.714 5.486 2.194v-5.908h-4Zm0-36.4 1.34-3.769-5.34-1.898v5.667h4Zm33.428 11.886-1.34 3.769 5.34 1.898v-5.667h-4Zm0-23.771h4v-2.824l-2.66-.945-1.34 3.769Zm-33.428-11.886h-4v2.823l2.66.946 1.34-3.77Zm0-12.629 1.34-3.768-5.34-1.9v5.668h4Zm33.428 11.886-1.34 3.769 5.34 1.899v-5.668h-4Zm0-23.771h4v-2.769l-2.59-.975-1.41 3.744Zm-63.142-23.772 1.409-3.743-5.409-2.037v5.78h4Zm-126 83.942V72.057h-8v23.771h8Zm28.089-15.654L-1.053 92.059l2.68 7.538 33.429-11.886-2.68-7.537Zm5.34 40.168v-36.4h-8v36.4h8Zm24.228-15.599L32.23 116.628l2.971 7.428 29.714-11.885-2.97-7.428ZM59.43 72.057v36.4h8v-36.4h-8Zm36.088-15.655L62.09 68.288l2.68 7.538L98.198 63.94l-2.68-7.538ZM92.858 36.4V60.17h8V36.4h-8ZM64.77 52.054 98.198 40.17l-2.68-7.538L62.09 44.517l2.68 7.537Zm-5.34-16.397v12.629h8V35.657h-8Zm36.088-15.654L62.09 31.888l2.68 7.538L98.198 27.54l-2.68-7.537ZM92.858 0v23.771h8V0h-8ZM35.125 27.515 98.267 3.744 95.45-3.744 32.306 20.028l2.819 7.487Zm2.59 32.656v-36.4h-8v36.4h8ZM1.627 75.826 35.056 63.94l-2.68-7.538-33.429 11.886 2.68 7.538Zm93.891-35.657 33.429 11.886 2.68-7.538-33.429-11.885-2.68 7.537Zm5.34 20.003V36.4h-8v23.77h8Zm30.769 8.117L98.198 56.403l-2.68 7.538 33.429 11.885 2.68-7.537Zm2.66 40.168v-36.4h-8v36.4h8Zm27.2 8.172-29.715-11.886-2.971 7.428 29.714 11.886 2.972-7.428Zm-5.486-32.686v36.4h8v-36.4h-8Zm38.768 8.117-33.428-11.886-2.68 7.538 33.428 11.886 2.68-7.538Zm-5.34-20.002v23.77h8v-23.77h-8Zm-30.768-8.117 33.428 11.885 2.68-7.537-33.428-11.886-2.68 7.538Zm-2.66-16.398v12.629h8V47.543h-8Zm38.768 8.117-33.428-11.885-2.68 7.537 33.428 11.886 2.68-7.538Zm-5.34-20.002v23.771h8V35.658h-8ZM128.878 15.63 192.02 39.4l2.819-7.487-63.143-23.771-2.818 7.487Zm5.409 32.656v-36.4h-8v36.4h8Z' fill='%23D4AF37' mask='url(%23a)'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M96.858 107.714v23.771l33.429-11.885V156l29.714-11.886v-36.4l33.428-11.886v-23.77l-33.428 11.885V71.314l33.428-11.885V35.657L130.287 59.43v36.4l-33.429 11.885ZM.288 72.058v23.771l33.428 11.886v36.4L63.43 156v-36.4l33.428 11.886v-23.771L63.43 95.829V83.201l33.428 11.885V71.315L33.715 47.544v36.4L.288 72.057Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M96.858 107.714v23.771l33.429-11.885V156l29.714-11.886v-36.4l33.428-11.886v-23.77l-33.428 11.885V71.314l33.428-11.885V35.657L130.287 59.43v36.4l-33.429 11.885ZM.288 72.058v23.771l33.428 11.886v36.4L63.43 156v-36.4l33.428 11.886v-23.771L63.43 95.829V83.201l33.428 11.885V71.315L33.715 47.544v36.4L.288 72.057Z' fill='%23000'/%3E%3Cpath d='M96.858 131.485h-4v5.668l5.34-1.899-1.34-3.769Zm0-23.771-1.34-3.769-2.66.946v2.823h4Zm33.429 11.886h4v-5.668l-5.34 1.899 1.34 3.769Zm0 36.4h-4v5.908l5.485-2.195-1.485-3.713Zm29.714-11.886 1.486 3.714 2.514-1.006v-2.708h-4Zm0-36.4-1.34-3.769-2.66.946v2.823h4Zm33.428-11.886 1.34 3.77 2.66-.947v-2.823h-4Zm0-23.77h4v-5.669l-5.34 1.9 1.34 3.768Zm-33.428 11.885h-4v5.667l5.34-1.898-1.34-3.77Zm0-12.629-1.34-3.769-2.66.946v2.823h4Zm33.428-11.885 1.34 3.768 2.66-.945v-2.824h-4Zm0-23.772h4v-5.78l-5.409 2.037 1.409 3.743ZM130.287 59.43l-1.409-3.744-2.591.975v2.769h4Zm0 36.4 1.34 3.768 2.66-.945v-2.824h-4Zm-130 0h-4v2.823l2.66.946 1.34-3.769Zm0-23.771 1.34-3.77-5.34-1.898v5.668h4Zm33.428 35.657h4v-2.823l-2.66-.946-1.34 3.769Zm0 36.4h-4v2.708l2.515 1.006 1.486-3.714ZM63.43 156l-1.486 3.714 5.486 2.194V156h-4Zm0-36.4 1.34-3.768-5.34-1.899v5.667h4Zm33.428 11.886-1.34 3.769 5.34 1.899v-5.668h-4Zm0-23.771h4v-2.823l-2.66-.946-1.34 3.769ZM63.43 95.829h-4v2.823l2.66.946 1.34-3.769Zm0-12.628 1.34-3.77-5.34-1.898v5.668h4Zm33.428 11.885-1.34 3.77 5.34 1.898v-5.668h-4Zm0-23.771h4v-2.768l-2.59-.976-1.41 3.744ZM33.715 47.544l1.41-3.744-5.41-2.036v5.78h4Zm0 36.4-1.34 3.768 5.34 1.899v-5.668h-4Zm67.143 47.541v-23.771h-8v23.771h8Zm28.089-15.654-33.429 11.885 2.68 7.538 33.429-11.885-2.68-7.538Zm5.34 40.169v-36.4h-8V156h8Zm24.228-15.6-29.714 11.886 2.971 7.427 29.715-11.885-2.972-7.428Zm-2.514-32.686v36.4h8v-36.4h-8Zm36.088-15.654-33.428 11.885 2.68 7.538 33.428-11.886-2.68-7.537Zm-2.66-20.003v23.771h8v-23.77h-8Zm-28.088 15.655 33.428-11.886-2.68-7.538-33.428 11.886 2.68 7.538Zm-5.34-16.398v12.629h8V71.314h-8Zm36.088-15.654-33.428 11.885 2.68 7.538 33.428-11.886-2.68-7.537Zm-2.66-20.003V59.43h8V35.657h-8Zm-57.733 27.515 63.143-23.771-2.819-7.487-63.142 23.771 2.818 7.487Zm2.591 32.656v-36.4h-8v36.4h8Zm-36.089 15.655 33.429-11.886-2.68-7.537-33.429 11.885 2.68 7.538ZM4.288 95.829V72.058h-8v23.771h8Zm30.768 8.117L1.627 92.06l-2.68 7.538 33.429 11.886 2.68-7.538Zm2.66 40.169v-36.4h-8v36.4h8Zm27.2 8.171L35.2 140.401l-2.971 7.428 29.714 11.885 2.971-7.428ZM59.43 119.6V156h8v-36.4h-8Zm38.768 8.117L64.77 115.832l-2.68 7.537 33.428 11.886 2.68-7.538Zm-5.34-20.002v23.771h8v-23.771h-8ZM62.09 99.598l33.428 11.886 2.68-7.538L64.77 92.06l-2.68 7.538Zm-2.66-16.397v12.628h8V83.201h-8Zm38.768 8.116L64.77 79.432l-2.68 7.537 33.428 11.886 2.68-7.538Zm-5.34-20.002v23.771h8V71.315h-8ZM32.306 51.287 95.45 75.058l2.818-7.487-63.142-23.77-2.819 7.486Zm5.41 32.656v-36.4h-8v36.4h8Zm-38.769-8.116 33.428 11.885 2.68-7.537L1.628 68.289l-2.68 7.538Z' fill='%23D4AF37' mask='url(%23b)'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: -20% bottom;
  background-size: 120px;
}

main,
footer {
  margin: 24px;
}

footer {
  margin-top: 128px;
}

footer ul li {
  border: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
}

a {
  color: white;
}

summary {
  cursor: pointer;
}

.talk dl * {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter Tight', sans-serif;
}

.talk dd {
  color: #c0c0c0;
  margin-bottom: 24px;
}

.talk dt {
  margin: 16px 0;
}

.button {
  background: black;
  color: white;
  text-decoration: none;
  padding: 4px 24px;
  border: 2px solid white;
  display: inline-block;
}

.button:hover {
  background: white;
  border: 2px solid black;
  color: white;
}

h2 span {
  font-weight: 400;
  margin-right: 12px;
}

h2 span:after {
  content: '•';
  margin-left: 12px;
}

hr {
  border-color: #d4af37;
  border-bottom: 0;
  border-top: 4px solid;
  margin-top: 42px;
  margin-bottom: 32px;
}

ul li {
  list-style: none;
  padding-bottom: 16px;
  border-bottom: clamp(2px, 0.3vw, 4px) solid #d4af37;
  margin-bottom: clamp(12px, 2.5vw, 24px);
}

ul li:last-child {
  border-bottom: 0;
}

#intro > * {
  margin: 48px 0;
  font-size: clamp(20px, 6.5vw, 40px);
}

#intro ul li {
  font-size: clamp(16px, 2.5vw, 24px);
}

.shadow ol {
  list-style: none;
  box-shadow: 4px 4px 0 0 black, 8px 8px 0 0 #ffdc00;
}

.shadow ol li {
  padding: 24px;
  border: 4px solid var(--c-gold);
  border-bottom: 0;
  background: black;

  /*   lol wat - did this land already in chrome?!?! */
  /*   this only works in Chrome afaik/s - but, I could use a postprocessor, such as
  postcss during a build process to *overwrite* this file with the generated output
  thus giving me support for Firefox, et al */
  &:last-child {
    border-bottom: 4px solid var(--c-gold);
  }
}

.shadow ol + ol li:first-child {
  border-top: 0;
}

#schedule {
  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      order: 1;
      width: 100%;
      margin: 0 32px;
      content: ' ';
      display: block;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg class='root' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3Esvg%7Boverflow:visible%7D%3C/style%3E%3Cg id='container' fill='%23D4AF37' fill-rule='nonzero'%3E%3Csvg class='bar' y='50%25'%3E%3Crect y='-1' width='100%25' height='2'/%3E%3C/svg%3E%3Csvg class='left' y='50%25'%3E%3Cpath fill='%23000' d='M0-6h6V6H0z'/%3E%3Cpath d='m0 0 6-6 6 6-6 6'/%3E%3C/svg%3E%3Csvg class='right' y='50%25' x='100%25'%3E%3Cpath fill='%23000' d='M-6-6h6V6h-6z'/%3E%3Cpath d='m-12 0 6-6 6 6-6 6'/%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
      justify-self: center;
      justify-content: center;
    }

    :last-child {
      order: 2;
    }
  }

  .title {
    margin-top: 16px;

    & + details {
      margin-top: 24px;
      display: grid;
      flex-direction: column;
      grid-template-rows: 240px 1fr;
      grid-auto-flow: dense; /* NEW */
    }
  }
}

#locations a {
}

#locations em {
  display: block;
  font-style: normal;
}

.details > .summary ~ input ~ * {
  display: none;
}

.details .summary ~ input:checked ~ * {
  display: block;
}

.icon {
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;
  padding-left: 24px;
}

.icon.talk {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4S4 1.8 4 4v2c0 2.2 1.8 4 4 4Z' fill='%23D4AF37'/%3E%3Cpath d='M15.9 7.1c.1-.5-.3-1-.8-1.1-.5-.1-1.1.3-1.1.8-.5 3-3 5.2-6 5.2S2.5 9.8 2.1 6.9C2 6.3 1.5 5.9.9 6c-.5.1-.9.6-.8 1.1.5 3.6 3.4 6.3 6.9 6.8V16h2v-2.1c3.5-.4 6.4-3.2 6.9-6.8Z' fill='%23D4AF37'/%3E%3C/svg%3E");
}

.icon.pronouns {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 7a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM7 8.5a7.008 7.008 0 0 0-7 7 .5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5 7.008 7.008 0 0 0-7-7Z' fill='%23D4AF37'/%3E%3C/svg%3E");
}

/* big display */
@media screen and (min-width: 768px) {
  #intro {
    display: flex;
    gap: 80px;
    justify-content: space-between;
  }

  body {
    background-size: 200px;
  }

  a {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.5 17.5 15-15m0 0H7.25m11.25 0v11.25' stroke='%23fff' stroke-width='4' stroke-linecap='square'/%3E%3C/svg%3E");
    padding-right: 27px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
  }

  h2 {
    margin-top: 128px;
  }

  #locations {
    display: grid;
    grid-template-areas:
      'a a'
      'b c';
  }

  #locations ol {
    height: fit-content;
  }

  #locations h2 {
    grid-area: a;
  }

  #venue {
    grid-area: b;
  }

  #venue li {
    border-right: 0;
  }

  #hotels li {
    border-top: 4px solid var(--c-gold);
  }

  #hotels {
    grid-area: c;
  }

  #locations a {
    display: block;
  }

  #intro p {
    flex: 1;
  }

  #intro ul {
    flex: 1;
  }

  .shadow ol li {
    padding: 32px 40px;
  }

  #schedule li {
    display: grid;
    gap: 32px 64px;
    grid-template-areas:
      'a b'
      'a c';
    grid-template-columns: 326px 1fr;
  }

  #schedule li.break {
    grid-template-areas: 'a b';
  }

  rem-details {
    grid-area: c;
  }

  #schedule .time {
    grid-area: a;
    max-width: 326px;
    align-self: start;
  }

  .talk dt {
    margin-top: 0;
  }

  #schedule .title {
    grid-area: b;
    /* width: 100%; */
    margin-top: 0px;
  }

  .time {
    width: 424px;
  }
}
